html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #FFF;
    color: #212121;
    font-size: 14px;
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #212121;
}

h3, .h3 {
    font-size: 24px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    background-color: #FFF;
    border-top: 1px solid #dddddd;
}

.navbar {
    border-radius: 0;
    background-color: #9E9E9E;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF
}

.btn-default {
    background-color: #F5F5F5;
}

.cell .text {
    max-height: 55px;
    overflow: hidden;
}

.expanded .text {
    max-height: none;
    overflow: visible;
}

.more, .less {
    cursor: pointer;
    color: #0D87E9;
}

#search .panel-body {
    padding: 6px;
}

#search input {
    box-shadow: none;
}

/*#labels .panel, #details .panel {*/
    /*margin-top: 15px;*/
/*}*/

#labels .panel-body .row:nth-child(odd),
#details .panel-body .row:nth-child(odd)  {
    background-color: #F9F9F9;
}

