{# alphabet navigation for use throughout the site #}

<div class="alpha-nav">
    <a id="show-all" href="#">All</a>
    <a id="show-nums" href="#">0-9</a>
    <a id="show-a" href="#">A</a>
    <a id="show-b" href="#">B</a>
    <a id="show-c" href="#">C</a>
    <a id="show-d" href="#">D</a>
    <a id="show-e" href="#">E</a>
    <a id="show-f" href="#">F</a>
    <a id="show-g" href="#">G</a>
    <a id="show-h" href="#">H</a>
    <a id="show-i" href="#">I</a>
    <a id="show-j" href="#">J</a>
    <a id="show-k" href="#">K</a>
    <a id="show-l" href="#">L</a>
    <a id="show-m" href="#">M</a>
    <a id="show-n" href="#">N</a>
    <a id="show-o" href="#">O</a>
    <a id="show-p" href="#">P</a>
    <a id="show-q" href="#">Q</a>
    <a id="show-r" href="#">R</a>
    <a id="show-s" href="#">S</a>
    <a id="show-t" href="#">T</a>
    <a id="show-u" href="#">U</a>
    <a id="show-v" href="#">V</a>
    <a id="show-w" href="#">W</a>
    <a id="show-x" href="#">X</a>
    <a id="show-y" href="#">Y</a>
    <a id="show-z" href="#">Z</a>
</div>