{# alphabet navigation for use throughout the site #}
<nav class="fda-alpha-nav">
    <h2>A-Z</h2>
    <ol class="alpha-nav">
        <li class="double selected"><a data-filter="all" id="show-all" href="#">All</a></li>
        <li class="double"><a data-filter="num" id="show-nums" href="#">0-9</a></li>
        <li><a data-filter="a" href="#">A</a></li>
        <li><a data-filter="b" href="#">B</a></li>
        <li><a data-filter="c" href="#">C</a></li>
        <li><a data-filter="d" href="#">D</a></li>
        <li><a data-filter="e" href="#">E</a></li>
        <li class="F"><a data-filter="f" href="#">F</a></li>
        <li class="G"><a data-filter="g" href="#">G</a></li>
        <li><a data-filter="h" href="#">H</a></li>
        <li><a data-filter="i" href="#">I</a></li>
        <li><a data-filter="j" href="#">J</a></li>
	    <li class="K"><a data-filter="k" id="show-k" href="#">K</a></li>
	    <li class="L"><a data-filter="l" id="show-l" href="#">L</a></li>
        <li><a data-filter="m" href="#">M</a></li>
        <li><a data-filter="n" href="#">N</a></li>
        <li><a data-filter="o" href="#">O</a></li>
        <li class="P"><a data-filter="p" href="#">P</a></li>
        <li class="Q"><a data-filter="q" href="#">Q</a></li>
        <li><a data-filter="r" href="#">R</a></li>
        <li><a data-filter="s" href="#">S</a></li>
        <li><a data-filter="t" href="#">T</a></li>
        <li><a data-filter="u" href="#">U</a></li>
        <li><a data-filter="v" href="#">V</a></li>
        <li><a data-filter="w" href="#">W</a></li>
        <li><a data-filter="x" href="#">X</a></li>
        <li><a data-filter="y" href="#">Y</a></li>
        <li><a data-filter="z" href="#">Z</a></li>
    </ol>
</nav>