<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Artemisconsultinginc.com -->

    {% block title %}
    <title>FDA Drug Monitor</title>
    {% endblock %}

    <link href="{% static "bootstrap-3.3.5-dist/css/paper.css" %}" rel="stylesheet">
    <link href="{% static "css/core.css" %}" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
    <nav class="navbar navbar-default">
        <div class="container" style="max-width:1024px;">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="{%  url 'homepage' %}">FDA Drug Monitor</a>
            </div>
            <div id="bs-example-navbar-collapse-9" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="{% url 'browse_labels' %}">Drug Names</a> </li>
                    <li> <a href="{% url 'browse_events' %}">Adverse Events</a> </li>
                    <li> <a href="{% url 'browse_enforcements' %}">Enforcement Reports</a> </li>
                    <li> <a href="{% url 'browse_manufacturers' %}">Drug Manufacturers</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>

    <!-- javascript enabled message -->
    <noscript>
        <div class="alert alert-warning">
            <p class="text-center"><strong>For a better browsing experience, please enable javascript</strong></p>
        </div>
    </noscript>

    <!-- end nav/begin body -->
    <main role="main">
        <div class="container" style="max-width:1024px;">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <!-- end body/begin footer -->
    <footer class="footer">
        <div class="container" style="max-width:1024px;">
            <div class="row" style="margin-top:15px;">
                <div class="col-xs-12 text-center">
                    <ul class="list-inline">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>Licensing Information</p>
                </div>

            </div>
        </div>
    </footer>

    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "highcharts-4.1.6/highcharts.js" %}"></script>
    <script src="{% static "bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>

    <script>
    // search bar functionality
    var searchOptions = ['search_labels', 'search_events', 'search_enforcements'];

    // search go button onclick handler
    $("#search-category").click(function() {
        var url_category = $('#select-category').val();
        var search_term = $('#search-term').val();

        // stop the click event if the search term or category is falsey.
        if(!search_term || !url_category) {
            return false;
        }

        if (url_category === 'search_labels') {
            $('form').attr("action", "{% url 'search_labels' %}").submit();
        }
        else if (url_category === 'search_events') {
            $('form').attr("action", "{% url 'search_events' %}").submit();
        }
        else if (url_category === 'search_enforcements') {
            $('form').attr("action", "{% url 'search_enforcements' %}").submit();
        }
        else if (url_category === 'search_manufacturers') {
            $('form').attr("action", "{% url 'search_manufacturers' %}").submit();
        }
        else {
            console.log('unknown category' + url_category);
            return false;
        }
    });

    // functionality to support expand/collapse of divs for large bodies of text
        $(".panel-title a").click(function() {
            var panelTitle = this;
            setTimeout(function() {
                $(panelTitle).parents('.panel').first().find('.cell').each(function () {
                    var cell = this;
                    var text = $(cell).find(".text");
                    var more = $(cell).find(".more");
                    var less = $(cell).find(".less");

                    // correct for resizing
                    if ($(text).height() < 55) {
                        $(more).hide();
                        $(text).removeClass("text");
                    }

                    $(more).click(function () {
                        $(cell).addClass("expanded");
                        $(more).toggle();
                        $(less).toggle();
                    });

                    $(less).click(function () {
                        $(cell).removeClass("expanded");
                        $(more).toggle();
                        $(less).toggle();
                    });
                });
            }, 0);
        });

    </script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>
