{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Adverse Event Details</title>
{% endblock %}

{% block header %}
    {% include 'core/header.html' with search_header='events'%}
{% endblock %}

{% block main %}
<main>
	<div class="wrapper page-header fda-adverse-events">
		<div class="content">
			<h1>Adverse Event Details: Information for {{ q|replace_plus_signs }}</h1>
            <p><strong>Definition:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna ullamcorper,
            commodo nunc consectetur, pretium elit. Integer purus elit, commodo sed interdum in, aliquet sed erat.
            Donec quis quam vel massa consequat dictum eget in diam.</p>
		</div>
	</div>
    <div class="wrapper body">
        <div class="content">
        <!-- Nav tabs -->
            <div id="fda-tabs-interface" class="fda-tabs-interface">
                <ul>
                    <li><a href="#details">Details</a></li>
                    <li><a href="#drugs">Drugs with this adverse effect</a></li>
                </ul>
                <!-- tab 1 -->
                <div id="details">
                    {% include 'core/pagination.html' with result_list=events result_paginator=events_paginator %}

                    <div class="fda-accordion-interface">
                        <!-- accordion panel groups -->
                        {% include 'core/tab_events.html' with prefix='events' %}
                    </div>
                </div><!-- end tab 1 -->

                <!-- tab 2 -->
                <div id="drugs">
                    <p>Click on the chart below to see adverse effects by gender for a given drug,
                        or view data in <a id="adverse-table-trigger" href="#">table format</a>.</p>
                    <div id="adverseTable" style="display:none;">
                        <table class="fda-table-default">
                            <caption>
                                Drugs with Adverse Effect: {{ q }}
                            </caption>
                            <thead>
                                <th>Drug Name</th>
                                <th>Count</th>
                            </thead>
                            <tbody>
                                {% for result in events_count %}
                                <tr>
                                    <td>{{ result.term|lower|capfirst }}</td>
                                    <td><span class="count">{{ result.count|intcomma }}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="adverseChart"></div>
                </div><!-- end tab 2 -->
            </div><!-- end nav tabs -->
        </div><!-- end content -->
    </div><!-- end wrapper -->
</main>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
(function($) {

    var drugNames = 
        [
        {% for result in events_count %}
        "{{ result.term }}".toLowerCase(),
        {% endfor %}
    ];

    var adverseEffectsData = {
        name: 'Count',
        // data points with extra properties:
        data: [
        {% for result in events_count %}
        {x: {{ forloop.counter0 }}, y: {{ result.count }}, investigation: true},
        {% endfor %}
        ]
    };

    function createAdverseEffectsChart(categoryArray, seriesData) {
        $('#adverseChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column',
                style: {
                    fontFamily: '"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif'
                }
            },
            title: {
                text: 'Top 25 Drugs with Adverse Effect: {{ q }}'
            },
            legend: {
                enabled: false
            },
            xAxis: {
                categories: categoryArray,
                crosshair: false,
                title: {
                    text: 'Drug name'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of adverse effects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span>',
                pointFormat: '<div><span style="color:{series.color};">{series.name}</span>: <b>{point.y:.0f}</b></div>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    events: {
                        click: function(event) {
                            var category = event.point.category;

                            if (this.chart.series.length > 1) {
                                this.chart.series[1].remove();
                            }

                            getDataAndCreateProductChart(category, this.chart);
                        }
                    },
                    color: '#1976D2'
                }
            },
            series: [seriesData]
        });
    }

    function getDataAndCreateProductChart(category ,chart) {

        $.getJSON("{% url 'search_detail' %}", {"browse_type": "events", "q": "{{ q }}", "filter_string": category})
            .fail(function() {
                console.log("error getting data");
            })
            .done(function(results) {
                createPieChart(category, results, chart);
            });
    }

    function createPieChart(category, categoryData, chart) {
        chart.addSeries({
            type: "pie",
            name: category + " effects grouped by sex",
            colors: ['#1976D2', '#212121'],
            data: [{
                name: categoryData[0].name,
                y: categoryData[0].data[0]
            }, {
                name: categoryData[1].name,
                y: categoryData[1].data[0]

            }],
            size: '50%',
            center: ['90%', '25%'],
            dataLabels: {enabled: false}
        });
    }

    // fix for highcharts width. it needs to wait for the div or else it won't fill the space
    $('a[href=#drugs]').click(function() {
       setTimeout(function(){
           adverseEffectsData.data = adverseEffectsData.data.slice(0,25);
           createAdverseEffectsChart(drugNames, adverseEffectsData);
           console.log('chart made')
      }, 0);
    });

    $('#adverse-table-trigger').click(function() {
       $('#adverseTable').toggle();
         if ($('#adverseTable').css('display') =='none') {
            $('#adverse-table-trigger').text('table format');
        }
        else {
            $('#adverse-table-trigger').text('chart format');
        }
       return false;
    });

})(jQuery);
</script>

{% endblock %}
