{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Manufacturer Details</title>
{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title">Manufacturer Details
                <br/>
                <small>Information for <strong>{{ q|replace_plus_signs }}</strong></small>
            </h1>
            <p class="page-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna ullamcorper, commodo nunc consectetur,
            pretium elit. Integer purus elit, commodo sed interdum in, aliquet sed erat. Donec quis quam vel massa
            consequat dictum eget in diam.
            </p>
        </div>
    </div>
{% endblock %}

{% block details %}
<!-- Nav tabs -->
    <div class="panel">
        <div class="panel-body">
            <ul class="nav nav-tabs fda-nav-tab" role="tablist">
                <li role="presentation" class="active"><a href="#labels" aria-controls="labels" role="tab" data-toggle="tab">Labels</a></li>
                <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Adverse Events</a></li>
                <li role="presentation"><a href="#enforcements" aria-controls="enforcements" role="tab" data-toggle="tab">Enforcement Reports</a></li>
            </ul>

            <div class="tab-content">
                <!-- tab 1 -->
                <div role="tabpanel" class="tab-pane active fda-table-accordion" id="labels">
                    <!-- accordion panel groups -->
                    {% include 'core/tab_labels.html' with prefix='labels' %}
                </div><!-- end tab 1 -->

            <!-- tab 2 -->
            <div role="tabpanel" class="tab-pane fda-table-accordion" id="events">
                <!-- accordion panel groups -->
                   {% include 'core/tab_events.html' with prefix='events'%}
            </div><!-- end tab 2 -->

            <!-- tab 3 -->
            <div role="tabpanel" class="tab-pane fda-table-accordion" id="enforcements">
                <!-- accordion panel groups -->
                   {% include 'core/tab_enforcements.html' with prefix='enforce'%}
            </div><!-- end tab 3 -->
            </div> <!-- end tab content -->
        </div> <!-- end panel-body -->
    </div> <!-- end panel -->
{% endblock %}

{% block extra_js %}
{% endblock %}

