{% extends "core/details.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Drug Details</title>
{% endblock %}

{% block image %}
    <img src="{% static "images/drugs.png" %}" class="img-responsive center-block" alt="drug labels banner image">
{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Drug Details
                <br/>
                <small>Information for <strong>{{ q|replace_plus_signs }}</strong></small>
            </h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna ullamcorper, commodo nunc consectetur,
            pretium elit. Integer purus elit, commodo sed interdum in, aliquet sed erat. Donec quis quam vel massa
            consequat dictum eget in diam.
            </p>
        </div>
    </div>
{% endblock %}

{% block details %}
<!-- Nav tabs -->
    <div class="panel">
        <div class="panel-body">
            <ul class="nav nav-tabs fda-nav-tab" role="tablist">
                <li role="presentation" class="active"><a href="#labels" aria-controls="labels" role="tab" data-toggle="tab">Labels</a></li>
                <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Adverse Events</a></li>
                <li role="presentation"><a href="#enforcements" aria-controls="enforcements" role="tab" data-toggle="tab">Enforcement Reports</a></li>
            </ul>

            <div class="tab-content">
                <!-- tab 1 -->
                <div role="tabpanel" class="tab-pane active fda-table-accordion" id="labels">
                    <!-- accordion panel groups -->
                    <div class="panel-group" role="tablist" aria-multiselectable="true">

                        {% if labels|length == 0 %}
                            <p class="text-info">No results found for drug name: {{ q|replace_plus_signs }}</p>
                        {% endif %}

                        {% for result in labels %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#panel{{ forloop.counter }}" aria-expanded="false">
                                            {{ result.brand_name.0 }} ({{ result.manufacturer.0 }}) &mdash; SPL-ID {{ result.id }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="panel{{ forloop.counter }}">
                                    <div class="panel-body">
                                        <table class="table table-striped table-bordered">
                                            <caption class="sr-only">{{ result.brand_name.0 }}: {{ result.id }}</caption>
                                            <tbody>
                                                {% for key, value in result.items %}
                                                    <tr>
                                                        <th scope="row"><strong>{{ key|replace_underscores|capfirst }}</strong></th>
                                                        <td class="cell">
                                                            <div class="text">
                                                              {% if value|is_list %}
                                                                {% for val in value %}
                                                                  {{ val|default:"N/A" }}
                                                                {% endfor %}
                                                              {% else %}
                                                                {{ value|default:"N/A" }}
                                                              {% endif %}
                                                            </div>
                                                            <span class="more">More...</span>
                                                            <span class="less" style="display:none;">Less...</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div><!-- end tab 1 -->

            <!-- tab 2 -->
            <div role="tabpanel" class="tab-pane fda-table-accordion" id="events">
                <!-- accordion panel groups -->
                <div class="panel-group" role="tablist" aria-multiselectable="true">

                {% if events|length == 0 %}
                    <p class="text-info">No results found for drug name: {{ q|replace_plus_signs }}</p>
                {% endif %}

                {% for result in events %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#tab2_panel{{ forloop.counter }}" aria-expanded="false">
                                Safety Report Id: {{ result.safety_data.safety_report }} (received: {{ result.safety_data.receive_date }})
                            </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="tab2_panel{{ forloop.counter }}">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered">
                                    <caption>Reporting Sources</caption>
                                    <tbody>
                                      {% for key, value in result.safety_data.items %}
                                      {% if key != 'safety_report' %}
                                          <tr>
                                            <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                                            <td>{% if value|is_list %}
                                                  {% for val in value %}
                                                    {{ val|default:"N/A" }}<br />
                                                  {% endfor %}
                                                {% else %}
                                                    {{ value|default:"N/A" }}
                                                {% endif %}
                                            </td>
                                          </tr>
                                      {% endif %}
                                      {% endfor %}
                                  </tbody>
                                </table>
                                <table class="table table-striped table-bordered">
                                    <caption>
                                        Patient Data
                                    </caption>
                                    <tbody>
                                      {% for key, value in result.patient_data.items %}
                                      <tr>
                                        <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                                        <td>{% if value|is_list %}
                                              {% for val in value %}
                                                {{ val|default:"N/A" }}<br />
                                              {% endfor %}
                                            {% else %}
                                              {{ value|default:"N/A" }}
                                            {% endif %}
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                <table class="table table-striped table-bordered">
                                    <caption>
                                    Drug Data
                                    </caption>
                                    <tbody>
                                      {% for key, value in result.label_data.items %}
                                      <tr>
                                        <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                                        <td>{% if value|is_list %}
                                              {% for val in value %}
                                                {{ val|default:"N/A" }}<br />
                                              {% endfor %}
                                            {% else %}
                                              {{ value|default:"N/A" }}
                                            {% endif %}
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div><!-- end tab 2 -->

            <!-- tab 3 -->
            <div role="tabpanel" class="tab-pane fda-table-accordion" id="enforcements">
                <!-- accordion panel groups -->
                <div class="panel-group" role="tablist" aria-multiselectable="true">

                {% if enforcements|length == 0 %}
                    <p class="text-info">No results found for drug name: {{ q|replace_plus_signs }}</p>
                {% endif %}

                {% for result in enforcements %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#tab3_panel{{ forloop.counter }}" aria-expanded="false">
                                Recall Number: {{ result.recall_number }} [{{ result.report_date }}: {{ result.city }}, {{ result.state }}]
                            </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="tab3_panel{{ forloop.counter }}">
                          <div class="panel-body">
                              <table class="table table-striped table-bordered">
                                  <caption class="sr-only"> Recall Number: {{ result.recall_number }}</caption>
                                  <tbody>
                                    {% for key, value in result.items %}
                                        <tr>
                                            <th scope="row">{{ key|replace_underscores|capfirst }}
                                            </th>
                                            <td class="cell">
                                                <div class="text">
                                                  {% if value|is_list %}
                                                    {% for val in value %}
                                                      {{ val|default:"N/A" }}<br />
                                                    {% endfor %}
                                                  {% else %}
                                                    {{ value|default:"N/A" }}
                                                  {% endif %}
                                                </div>
                                                <span class="more">More...</span>
                                                <span class="less" style="display:none;">Less...</span>
                                             </td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
              </div><!-- end tab 3 -->
            </div> <!-- end tab content -->
        </div> <!-- end panel-body -->
    </div> <!-- end panel -->
{% endblock %}

{% block extra_js %}
{% endblock %}

