{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Adverse Event Details</title>
{% endblock %}


{% block searchbar %}
    {% include 'core/searchbar.html' with search_category='events'%}
{% endblock %}

{% block text %}
    <h1 class="page-title">Adverse Event Details<br />
        <small>Information for <strong>{{ q|replace_plus_signs }}</strong></small>
    </h1>
    <p class="page-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna ullamcorper, commodo nunc consectetur,
    pretium elit. Integer purus elit, commodo sed interdum in, aliquet sed erat. Donec quis quam vel massa
    consequat dictum eget in diam.
    </p>

{% endblock %}

{% block details %}
<!-- Nav tabs -->
    <div id="fda-tabs-interface" class="fda-tabs-interface">
        <ul>
            <li><a href="#details">Details</a></li>
            <li><a href="#drugs">Drugs with this adverse effect</a></li>
        </ul>
        <!-- tab 1 -->
        <div class="fda-accordion-interface" id="details">
            <!-- accordion panel groups -->
            {% include 'core/tab_events.html' with prefix='events' %}
        </div><!-- end tab 1 -->

        <!-- tab 2 -->
        <div id="drugs">
            <p>This chart will allow clicking through to another chart to get additional detail</p>
            <div id="adverseChart"></div>
            <br/>
            <div id="productChart"></div><br/>
        </div><!-- end tab 2 -->
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
(function($) {

    var drugNames = 
        [
        {% for results in events_count %}
        "{{ results.term }}",
        {% endfor %}
    ];

    var adverseEffectsData = {
        name: 'Count',
        // data points with extra properties:
        data: [
        {% for results in events_count %}
        {x: {{ forloop.counter0 }}, y: {{ results.count }}, investigation: true},
        {% endfor %}
        ]
        // data points with just "y" values:
        //data: [123, 234, 345, 456, 12, 23, 34]
    };

    function createAdverseEffectsChart(categoryArray, seriesData) {
        $('#adverseChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column',
                style: {
                    fontFamily: '"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif'
                }
            },
            title: {
                text: 'Top 25 drugs with with adverse effect'
            },
            subtitle: {
                text: '{{ q }}'
            },
            legend: {
                enabled: false
            },
            xAxis: {
                categories: categoryArray,
                crosshair: false,
                title: {
                    text: 'Drug name'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of adverse effects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span>',
                pointFormat: '<div><span style="color:{series.color};">{series.name}</span>: <b>{point.y:.0f}</b></div>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    point: {
                        events: {
                            click: function(event) {
                                var dataPoint = event.point;
                                var xLabel = dataPoint.series.chart.axes[0].categories[dataPoint.x];
                                console.log(xLabel+" clicked", dataPoint);

                                // option 1: remove the current chart before replacing it.
                                //$("#adverseChart").highcharts().destroy();

                                // option 2: create the chart below the current chart
                                getDataAndCreateProductChart(xLabel); // <-- long name here :)
                            }
                        }
                    },
                    color: '#1976D2'
                }
            },
            series: [seriesData]
        });
    }

    function getDataAndCreateProductChart(productName) {

        $.getJSON("{% url 'search_detail' %}", {"browse_type": "events", "q": "{{ q }}", "filter_string": productName})
            .fail(function() {
                console.log("error getting data");
            })
            .done(function(results) {
                console.log(results);
                var productData = results;
                createProductChart(productName, productData);
            });
    }

    function createProductChart(productName, productDataArray) {
        $('#productChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column',
                style: {
                    fontFamily: '"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif'
                }
            },
            colors: ['#1976D2', '#212121'],
            title: {
                text: productName+" effects grouped by sex"
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    "0-100",
                ],
                crosshair: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of effects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
            },
            series: productDataArray
        });
    }

    /*
    we can also use ajax to fetch the data passed to this function. something like:

    $.getJSON("/some/url/here")
        .fail(function() {
            console.log("error getting data");
        })
        .done(function(result) {
            var names = result.names;
            var effectsData = result.adverseEffectsData;
            createAdverseEffectsChart(names, effectsData);
        });
    */

    // fix for highcharts width. it needs to wait for the div or else it won't fill the space
    $('a[href=#drugs]').click(function() {
       setTimeout(function(){
           adverseEffectsData.data = adverseEffectsData.data.slice(0,25)
         createAdverseEffectsChart(drugNames, adverseEffectsData);
      }, 0);
    });

})(jQuery);
</script>

{% endblock %}
