{% extends "core/base.html" %}

{% load staticfiles %}

{% block body %}

    <img src="{% static "images/drugs.png" %}" class="img-responsive center-block" alt="drug labels banner image">

    <div class="row">
        <div class="col-xs-12">
            <h3>Drug Details</h3>
            <p>Information for {{ q }}</p>
        </div>
    </div>

<!-- Nav tabs -->
<div class="panel">
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#labels" aria-controls="labels" role="tab" data-toggle="tab">Labels</a></li>
            <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Adverse Events</a></li>
            <li role="presentation"><a href="#enforcements" aria-controls="enforcements" role="tab" data-toggle="tab">Enforcement Reports</a></li>
        </ul>

        <div class="tab-content">
            <!-- tab 1 -->
            <div role="tabpanel" class="tab-pane active" id="labels">
                <!-- accordion panel groups -->
                <div class="panel-group">
                    {% for result in labels %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#panel{{ forloop.counter }}">
                                        {{ result.id }}
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="panel{{ forloop.counter }}">
                                <div class="panel-body">
                                    <table class="table table-condensed table-striped">
                                        <tbody>
                                            {% for key, value in result.items %}
                                                <tr>
                                                    <td>{{ key }}</td>
                                                    <td>{{ value }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>

            <!-- tab 2 -->
            <div role="tabpanel" class="tab-pane" id="events">

                {% for result in enforcements %}
                <p>{{ result.receivedate }}</p>
                <table class="table table-striped table-bordered">
                    <caption>
                        Reporting Sources
                    </caption>
                    <tbody>
                        <tr>
                            <td>Safety Report</td>
                            <td>{{ result.safetyreportid }}</td>
                        </tr>
                        <tr>
                            <td>Safety Report Version</td>
                            <td>{{ result.safetyreportversion }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered">
                    <caption>
                        Patient Data
                    </caption>
                    <tbody>
                        <tr>
                            <td>Patient Report</td>
                            <td>['patient']</td>
                        </tr>
                        <tr>
                            <td>Second Field</td>
                            <td>['second value']</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered">
                    <caption>
                        Drug Data
                    </caption>
                    <tbody>
                        <tr>
                            <td>Drug Report</td>
                            <td>['patient.drug']</td>
                        </tr>
                         <tr>
                            <td>Second Field</td>
                            <td>['second value']</td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}
            </div>

            <!-- tab 3 -->
            <div role="tabpanel" class="tab-pane" id="enforcements">
                <p>PLACEHOLDER TODO</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
