{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Enforcement Report Details</title>
{% endblock %}


{% block searchbar %}
    {% include 'core/searchbar.html' with search_category='enforcements'%}
{% endblock %}

{% block text %}
    <h1 class="page-title">Enforcement Report Details
        <br/>
        <small>Information for <strong>{{ q|replace_plus_signs }}</strong></small>
    </h1>
    <p class="page-description">
    The FDA Drug Monitor enforcement reports are based on data from the
        <a href="https://open.fda.gov/data/res/" target="_blank">FDA Recall Enterprise System (RES)</a>. The
    data cover records from 2004 - present, and are updated weekly.
    </p>
{% endblock %}

{% block details %}
  <!-- Nav tabs -->
    <div id="fda-tabs-interface" class="fda-tabs-interface">
        <ul>
            <li><a href="#details">Details</a></li>
            <li><a href="#drugs">Drugs with enforcement reports in state</a></li>
        </ul>
        <!-- tab 1 -->
        <div id="details">
            {% include 'core/pagination.html' with result_list=enforcements result_paginator=enforcements_paginator %}

            <div class="fda-accordion-interface">
                <!-- accordion panel groups -->
                {% include 'core/tab_enforcements.html' with prefix='enforcements' %}
            </div>
        </div><!-- end tab 1 -->

        <!-- tab 2 -->
        <div id="drugs">
            <p>Click the chart below to visit the drug detail page or view data in
                <a id="detail-table-trigger" href="#">table format</a>.</p>

                <div id="detailTable" style="display:none;">
                    <table class="fda-table-default">
                        <caption>
                            Drugs with Enforcement Reports in {{ q }}
                        </caption>
                        <thead>
                            <th>Drug Name</th>
                            <th>Count</th>
                        </thead>
                        <tbody>
                            {% for result in drugs_count %}
                            <tr>
                                <td>
                                    <a href="{% url 'search_labels' %}?q={{ result.term|replace_spaces|urlencode }}">
                                        {{ result.term|lower|capfirst }}
                                    </a>
                                </td>
                                <td><span class="count">{{ result.count|intcomma }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="enforcementChart"></div><br/>
        </div><!-- end tab 2 -->
    </div><!-- end panel -->

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
(function($) {

    var drugNames = 
        [
        {% for result in drugs_count %}
        "{{ result.term }}",
        {% endfor %}
    ];

    var enforcementData = {
        name: 'Counts',
        // data points with extra properties:
        data: [
        {% for result in drugs_count %}
        {
            x: {{ forloop.counter0 }},
            y: {{ result.count }},
            url: "{% url 'search_labels' %}?q={{ result.term|replace_spaces|urlencode }}",
            investigation: true},
        {% endfor %}
        ]
    };

    function createEnforcementChart(categoryArray, seriesData) {
        $('#enforcementChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column'
            },
            title: {
                text: 'Drugs with Enforcement Reports in {{ q }}'
            },
            xAxis: {
                categories: categoryArray,
                crosshair: false,
                title: {
                    text: 'Drug name'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of reports'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span>',
                pointFormat: '<div><span style="color:{series.color};">{series.name}</span>: <b>{point.y:.0f}</b></div>' +
                    '<div>Undergoing Investigation: <em>{point.investigation}</em></div>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    point: {
                        events: {
                            click: function() {
                                location.href = this.options.url;
                            }
                        }
                    }
                }
            },
            series: [seriesData]
        });
    }

    function getDataAndCreateHyperlinks(productName) {

        $.getJSON("{% url 'search_detail' %}", {"browse_type": "enforcements", "q": "{{ q }}", "filter_string": productName})
            .fail(function() {
                console.log("error getting data");
            })
            .done(function(results) {
                console.log(results);
                createProductChart(productName, results);
            });
    }

    function createProductChart(productName, productDataArray) {
        $('#productChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column'
            },
            title: {
                text: productName+" effects grouped by sex"
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    "0-100",
                ],
                crosshair: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of effects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: productDataArray
        });
    }
    createEnforcementChart(drugNames, enforcementData);

    $('#detail-table-trigger').click(function() {
       $('#detailTable').toggle();
       return false;
    });

})(jQuery);
</script>

{% endblock %}
