{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}

{% block body %}

    <img src="{% static "images/reactions.png" %}" class="img-responsive center-block" alt="adverse events banner image">

    <div class="row">
        <div class="col-xs-12">
            <h3>Adverse Event Details</h3>
            <p>Information for {{ q }}</p>
        </div>
    </div>

<!-- Nav tabs -->
<div class="panel">
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation"><a href="#drugs" aria-controls="drugs" role="tab" data-toggle="tab">Drugs</a></li>
        </ul>

        <div class="tab-content">
            <!-- tab 1 -->
            <div role="tabpanel" class="tab-pane active" id="details">
                <!-- accordion panel groups -->
               <div class="panel-group" aria-multiselectable="true">
                    {% for result in events %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#panel{{ forloop.counter }}" aria-expanded="false">
                                        Safety Report ID: {{ result.safetyreportid }}
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="panel{{ forloop.counter }}">
                                <div class="panel-body">
                                    {% for key, value in result.items %}
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-12">
                                                <strong>{{ key|replace_underscores }}</strong>
                                            </div>
                                            <div class="col-sm-9 col-xs-12 cell">
                                                <div class="text">
                                                    {{ value }}
                                                </div>
                                                <span class="more">More...</span>
                                                <span class="less" style="display:none;">Less...</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>

            <!-- tab 2 -->
            <div role="tabpanel" class="tab-pane" id="drugs">
                <p>This chart will allow clicking through to another chart to get additional detail</p>
                <div id="adverseChart"></div>
                <br/>
                <div id="productChart"></div><br/>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
(function($) {

    var drugNames = 
        [
        {% for results in events_count %}
        "{{ results.term }}",
        {% endfor %}
    ];

    var adverseEffectsData = {
        name: 'Count',
        // data points with extra properties:
        data: [
        {% for results in events_count %}
        {x: {{ forloop.counter0 }}, y: {{ results.count }}, investigation: true},
        {% endfor %}
        ]
        // data points with just "y" values:
        //data: [123, 234, 345, 456, 12, 23, 34]
    };

    function createAdverseEffectsChart(categoryArray, seriesData) {
        $('#adverseChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column',
                style: {
                    fontFamily: '"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif'
                }
            },
            title: {
                text: 'Counts for drugs with adverse effects'
            },
            subtitle: {
                text: '{{ q }}'
            },
            legend: {
                enabled: false
            },
            xAxis: {
                categories: categoryArray,
                crosshair: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of adverse effects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span>',
                pointFormat: '<div><span style="color:{series.color};">{series.name}</span>: <b>{point.y:.0f}</b></div>' +
                    '<div>Undergoing Investigation: <em>{point.investigation}</em></div>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    point: {
                        events: {
                            click: function(event) {
                                var dataPoint = event.point;
                                var xLabel = dataPoint.series.chart.axes[0].categories[dataPoint.x];
                                console.log(xLabel+" clicked", dataPoint);

                                // option 1: remove the current chart before replacing it.
                                //$("#adverseChart").highcharts().destroy();

                                // option 2: create the chart below the current chart
                                getDataAndCreateProductChart(xLabel); // <-- long name here :)
                            }
                        }
                    },
                    color: '#1976D2'
                }
            },
            series: [seriesData]
        });
    }

    function getDataAndCreateProductChart(productName) {

        $.getJSON("{% url 'search_detail' %}", {"browse_type": "events", "q": "{{ q }}", "filter_string": productName})
            .fail(function() {
                console.log("error getting data");
            })
            .done(function(results) {
                console.log(results);
                var productData = results;
                createProductChart(productName, productData);
            });
    }

    function createProductChart(productName, productDataArray) {
        $('#productChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column',
                style: {
                    fontFamily: '"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif'
                }
            },
            colors: ['#1976D2', '#212121'],
            title: {
                text: productName+" effects grouped by sex"
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    "0-100",
                ],
                crosshair: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of effects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
            },
            series: productDataArray
        });
    }

    /*
    we can also use ajax to fetch the data passed to this function. something like:

    $.getJSON("/some/url/here")
        .fail(function() {
            console.log("error getting data");
        })
        .done(function(result) {
            var names = result.names;
            var effectsData = result.adverseEffectsData;
            createAdverseEffectsChart(names, effectsData);
        });
    */

    // fix for highcharts width. it needs to wait for the div or else it won't fill the space
    $('a[href=#drugs]').click(function() {
       setTimeout(function(){
         createAdverseEffectsChart(drugNames, adverseEffectsData);
      }, 0);
    });

})(jQuery);
</script>

{% endblock %}
