{% extends "core/details.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Enforcement Report Details</title>
{% endblock %}

{% block image %}
    <img src="{% static "images/drugs.png" %}" class="img-responsive center-block" alt="drug labels banner image">
{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Enforcement Report Details
                <br/>
                <small>Information for <strong>{{ q|replace_plus_signs }}</strong></small>
            </h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a magna ullamcorper, commodo nunc consectetur,
            pretium elit. Integer purus elit, commodo sed interdum in, aliquet sed erat. Donec quis quam vel massa
            consequat dictum eget in diam.
            </p>
        </div>
    </div>
{% endblock %}

{% block details %}
  <!-- Nav tabs -->
<div class="panel">
    <div class="panel-body">
        <ul class="nav nav-tabs fda-nav-tab" role="tablist">
            <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
            <li role="presentation"><a href="#drugs" aria-controls="drugs" role="tab" data-toggle="tab">Drugs with enforcement reports in state</a></li>
        </ul>

        <div class="tab-content">
            <!-- tab 1 -->
            <div role="tabpanel" class="tab-pane active fda-table-accordion" id="details">
                <!-- accordion panel groups -->
               <div class="panel-group" role="tablist" aria-multiselectable="true">

                    {% if enforcements|length == 0 %}
                        <p class="text-info">No results found for state: {{ q|replace_plus_signs }}</p>
                    {% endif %}

                    {% for result in enforcements %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#panel{{ forloop.counter }}" aria-expanded="false">
                                        Recall Number: {{ result.recall_number }} [{{ result.report_date }}: {{ result.city }}, {{ result.state }}]
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="panel{{ forloop.counter }}">
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered">
                                        <caption class="sr-only">Recall Number: {{ result.recall_number }}</caption>
                                        <tbody>
                                            {% for key, value in result.items %}
                                                <tr>
                                                    <th scope="row"><strong>{{ key|replace_underscores|capfirst }}</strong></th>
                                                    <td class="cell">
                                                        <div class="text">
                                                            {% if value|is_list %}
                                                                {% for val in value %}
                                                                    {{ val }}
                                                                {% endfor %}
                                                            {% else %}
                                                                {{ value }}
                                                            {% endif %}
                                                        </div>
                                                        <span class="more">More...</span>
                                                        <span class="less" style="display:none;">Less...</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- end tab 1-->

            <!-- tab 2 -->
            <div role="tabpanel" class="tab-pane" id="drugs">
                <div class="panel-group" role="tablist">
                    <p>This chart will allow clicking through to another chart to get additional detail</p>
                        <div id="adverseChart"></div><br/>
                        <div id="productChart"></div><br/>
                        {% for results in events %}<br />
                        {% for key, value in results.items %}
                        {{ key }}: {{ value }}<br />
                        {% endfor %}
                        {% endfor %}
                 </div>
            </div><!-- end tab 2 -->
        </div><!-- end tab content -->
    </div><!-- end panel-body -->
</div><!-- end panel -->

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
(function($) {

    var drugNames = 
        [
        {% for results in drugs_count %}
        "{{ results.term }}",
        {% endfor %}
    ];

    var adverseEffectsData = {
        name: 'Counts',
        // data points with extra properties:
        data: [
        {% for results in drugs_count %}
        {x: {{ forloop.counter0 }}, y: {{ results.count }}, investigation: true},
        {% endfor %}
        ]
        // data points with just "y" values:
        //data: [123, 234, 345, 456, 12, 23, 34]
    };

    function createAdverseEffectsChart(categoryArray, seriesData) {
        $('#adverseChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column'
            },
            title: {
                text: 'Counts for drugs with enforcement reports in state'
            },
            subtitle: {
                text: '{{ q }}'
            },
            xAxis: {
                categories: categoryArray,
                crosshair: false,
                title: {
                    text: 'Drug name'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of drugs'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span>',
                pointFormat: '<div><span style="color:{series.color};">{series.name}</span>: <b>{point.y:.0f}</b></div>' +
                    '<div>Undergoing Investigation: <em>{point.investigation}</em></div>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                series: {
                    point: {
                        events: {
                            click: function(event) {
                                var dataPoint = event.point;
                                var xLabel = dataPoint.series.chart.axes[0].categories[dataPoint.x];
                                console.log(xLabel+" clicked", dataPoint);

                                // option 1: remove the current chart before replacing it.
                                //$("#adverseChart").highcharts().destroy();

                                // option 2: create the chart below the current chart
                                getDataAndCreateProductChart(xLabel); // <-- long name here :)
                            }
                        }
                    }
                }
            },
            series: [seriesData]
        });
    }

    function getDataAndCreateProductChart(productName) {

        $.getJSON("{% url 'search_detail' %}", {"browse_type": "enforcements", "q": "{{ q }}", "filter_string": productName})
            .fail(function() {
                console.log("error getting data");
            })
            .done(function(results) {
                console.log(results);
                var productData = results;
                createProductChart(productName, productData);
            });
    }

    function createProductChart(productName, productDataArray) {
        $('#productChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                type: 'column'
            },
            title: {
                text: productName+" effects grouped by sex"
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    "0-100",
                ],
                crosshair: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number off effects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: productDataArray
        });
    }

    /*
    we can also use ajax to fetch the data passed to this function. something like:

    $.getJSON("/some/url/here")
        .fail(function() {
            console.log("error getting data");
        })
        .done(function(result) {
            var names = result.names;
            var effectsData = result.adverseEffectsData;
            createAdverseEffectsChart(names, effectsData);
        });
    */

    createAdverseEffectsChart(drugNames, adverseEffectsData);
})(jQuery);
</script>

{% endblock %}
