{% extends "core/base.html" %}

{% load staticfiles %}

{% block image %}
    <img src="{% static "images/home-short.png" %}" class="img-responsive center-block" alt="home banner image">
{% endblock %}

{% block search %}
    {% include 'core/searchbar.html' %}
{% endblock %}

{% block text %}
    <h1>Welcome to the FDA Drug Monitor</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus, neque in suscipit elementum,
        mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper
        ante iaculis lacinia. In varius risus urna, nec pharetra dolor scelerisque quis. Curabitur sem nisl,
        ornare quis ornare quis, consequat ut sem. Nullam facilisis interdum augue vel fringilla. Aliquam rutrum
        nunc et nisi venenatis, sed feugiat mi aliquet. Fusce et risus massa. Donec suscipit volutpat quam,
        ac maximus mauris facilisis sit amet. Maecenas sed lobortis turpis, non sagittis nulla. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus, neque in suscipit elementum,
        mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper
        ante iaculis lacinia. In varius risus urna, nec pharetra dolor scelerisque quis. Curabitur sem nisl,
        ornare quis ornare quis, consequat ut sem. Nullam facilisis interdum augue vel fringilla.</p>
    <div class="row responsive01">
		<div class="span8">
			<h2><a href="">Nullam gravida</a></h2>
			<p>Vivamus tempus, neque in suscipit elementum, mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper ante iaculis lacinia.</p>
		</div>
		<div class="span8">
			<h2><a href="">Vestibulum nulla</a></h2>
			<p>Vivamus tempus, neque in suscipit elementum, mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper ante iaculis lacinia.</p>
		</div>
		<div class="span8">
			<h2><a href="">Eget malesuada urn</a></h2>
			<p>Vivamus tempus, neque in suscipit elementum, mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper ante iaculis lacinia.</p>
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}
