{% extends "core/base.html" %}

{% load staticfiles %}


{% block main %}
    <div class="wrapper banner">
        <div class="homepage-banner-temp">
            <img class="scalable-image" src="{% static "images/pic01.jpg" %}" alt="homepage banner">
            <div class="text-wrapper">
                <div class="text">
                    <h1>Welcome to the FDA Drug Monitor</h1>
                    <p><span>Begin your search for drug-related information by browsing the categories above or
                        searching for a specific term.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper body">
        <div class="content">
            <article>
                <div class="row fda-home">
                    <!--div class="span6">
                        <ul>
                            <li><a href="">Mi velit vestibulum nulla</a></li>
                            <li><a href="">Ipsum dolor sit amet</a></li>
                            <li><a href="">Nullam gravida</a></li>
                            <li><a href="">Suscipit elementum</a></li>
                            <li><a href="">Consectetur adipiscing elit ivamus</a></li>
                            <li><a href="">ullamcorper ante iaculis</a></li>
                        </ul>
                    </div-->

                    <div class="span8">
                        <h2>Drug Data</h2>
                         <p>Having drug-related
                            information and tools at your fingertips is a critical part of your
                            overall health and well-being. The data provided by the FDA Drug
                            Monitor are the latest and most relevant available data available from the FDA. 
                            Use this site along
                            with your physician's advice to make informed decisions about the drugs
                            you take.</p> <p>This site helps cross connect information between manufacturers, drug labels, adverse events and enforcement information 
                            at an unprecedented level. Users can start with any of the data-sets and cross-connect to any of the other data-sets.</p>
                        <p>For more information regarding the data sources used on this website, visit
                            <a target=_blank href="http://www.fda.gov">www.fda.gov</a>.
                        </p>
                    </div>
                    <div class="span4 thumb-link first-row">
                        <img src="{% static "images/thumb03.jpg" %}" class="scalable-image" alt="section1 img">
                        <h2><small><i class="green"></i>Drug Labels and more</small> Drugs </h2>
                        <p>This section allows users to browse drug names, their labels, and see adverse reactions 
                        for a selected drug, as well as any enforcement actions for a selected drug.
                        <a href="{% url 'browse_labels' %}">Start browsing drugs</a>.</p>
                    </div>
                    <div class="span4 thumb-link">
                        <img src="{% static "images/thumb04.jpg" %}" class="scalable-image" alt="section2 img">
                        <h2><small><i class="blue"></i> Adverse reactions and more</small> Adverse Events</h2>
                        <p>This section allows users to browse adverse events, see drugs associated with these adverse events, and also drilldown by attributes like gender.
                        <a href="{% url 'browse_events' %}">Start browsing adverse events</a>.</p>
                    </div>
                    <div class="span4 thumb-link second-row">
                        <img src="{% static "images/thumb01.jpg" %}" class="scalable-image" alt="section3 img">
                        <h2><small><i class="orange"></i>Enforcement and more</small> Enforcements </h2>
                        <p>Allows users to browse by State, and see the associated drugs and drug manufacturers. Links from 
                           Enforcement actions to related Manufacturer information.
                        <a href="{% url 'browse_enforcements' %}">Start browsing enforcement actions</a>.</p>
                    </div>
                    <div class="span4 thumb-link">
                        <img src="{% static "images/thumb02.jpg" %}" class="scalable-image" alt="section4 img">
                        <h2><small><i class="purple"></i> Drug makers and more</small> Manufacturers</h2>
                        <p>This section allows users to browse drug manufacturers that are part of our source data, as either a manufacturer, or as a party in an enforcement action.
                        <a href="{% url 'browse_manufacturers' %}">Start browsing manufacturers</a>.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
        </div><!-- end content -->
    </div>
{% endblock %}
