{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Manufacturers</title>
{% endblock %}

{% block searchbar %}
    {% include 'core/searchbar.html' with search_category='manufacturers'%}
{% endblock %}

{% block text %}
    <h1 class="page-title">Drug Manufacturers</h1>
    <p class="page-description">Select a manufacturer from the list below or enter a manufacturer name into the search above
        to view current related information</p>

{% endblock %}

{% block details %}
    <!-- browse list -->
    {% include 'core/browse.html' with search_url='search_manufacturers' show_count=False %}
{% endblock %}
