{% extends "core/browse.html" %}

{% load staticfiles %}
{% load url_tags %}

{% block title %}
<title>FDA Drug Monitor - Manufacturers</title>
{% endblock %}

{% block image %}
    <img src="{% static "images/manufacturers.png" %}" class="img-responsive center-block" alt="manufacturers labels banner image">
{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Manufacturers</h1>
            <p>Select a manufacturer from the list to view current drug-related information</p>
        </div>
    </div>
{% endblock %}

{% block browse_body %}
    <!-- browse list -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <dl class="list-group fda-list-group">
                        <dt class="list-group-item">
                            Manufacturer Name
                        </dt>
                        {% for term in terms %}
                         <dd class="list-group-item">
                            <a href="{% url 'search_manufacturers' %}?q={{ term.term|replace_spaces|urlencode }}">{{ term.term }}
                                <span class="badge pull-right">{{ term.count }}</span>
                            </a>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
