{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Adverse Events</title>
{% endblock %}

{% block searchbar %}
    {% include 'core/searchbar.html' with search_category='events'%}
{% endblock %}

{% block text %}
    <h1 class="page-title">Adverse Events</h1>
    <p class="page-description">Select an adverse event from the list below or enter an event into the search
    above to view current related information.  Only the top 100 adverse events are shown here.</p>
{% endblock %}

{% block details %}
    <!-- browse list -->
    {% include 'core/browse.html' with search_url='search_events' show_count=True%}
{% endblock %}