{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}

{% block body %}

    <img src="{% static "images/manufacturers.png" %}" class="img-responsive center-block" alt="manufacturers banner image">

    <div class="row">
        <div class="col-xs-12">
            <h3>Manufacturers</h3>
            <p>Select a manufacturer from the list to view current related information</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
           <div class="panel">
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Manufacturer Name</a>
                        {% for term in terms %}
                            <a href="{% url 'search_labels' %}?q={{ term.term|replace_spaces|urlencode }}" class="list-group-item">{{ term.term }}
                                <span class="badge">{{ term.count }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
           </div>
        </div>
    </div>

{% endblock %}
