{% extends "core/browse.html" %}

{% load staticfiles %}
{% load url_tags %}

{% block title %}
<title>FDA Drug Monitor - Adverse Events</title>
{% endblock %}

{% block image %}
    <img src="{% static "images/reactions.png" %}" class="img-responsive center-block" alt="adverse events banner image">
{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Adverse Events</h1>
            <p>Select an adverse event from the list below or enter an event into the search
                above to view current related information
        </div>
    </div>
{% endblock %}

{% block browse_body %}
    <!-- browse list -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">

                    {% include 'core/alphanav.html' %}

                    <dl class="list-group fda-list-group">
                        <dt class="list-group-item">
                            Adverse Event
                        </dt>
                        {% for term in terms %}
                         <dd class="list-group-item">
                            <a href="{% url 'search_events' %}?q={{ term.term|replace_spaces|urlencode }}">{{ term.term }}
                                <span class="badge pull-right">{{ term.count }}</span>
                            </a>
                        </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}