{% extends "core/base.html" %}

{% load staticfiles %}
{% load url_tags %}
{% load humanize %}

{% block title %}
<title>FDA Drug Monitor - Drug Names</title>
{% endblock %}

{% block header %}
    {% include 'core/header.html' with search_header='labels'%}
{% endblock header %}

{% block main %}
<main>
	<div class="wrapper page-header fda-drug-names">
		<div class="content">
            <h1 class="margin-bottom-quad">Drug Names</h1>
            <p>Select a drug from the list below or enter a drug name into the search above
            to view current related information.  Only the top 100 drug names are shown here.</p>
	    </div>
	</div>

    <div class="wrapper body">
		<div class="content">
            <!-- browse list -->
            {% include 'core/browse.html' with search_url='search_labels' show_count=True%}
        </div>
    </div>
</main>
{% endblock %}
