{% load url_tags %}

{% for result in labels %}
    <h3><i></i>{{ result.brand_name.0 }} ({{ result.manufacturer.0 }}) &mdash; SPL-ID {{ result.id }}</h3>
    <div id="{{ prefix }}_panel{{ forloop.counter }}">
        <table class="fda-table-default">
            <!--caption class="sr-only">{{ result.brand_name.0 }}: {{ result.id }}</caption-->
            <tbody>
            {% for key, value in result.items %}
                <tr>
                    <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                    <td class="cell">
                        <div class="text">
                            {% if value|is_list %}
                                {% for val in value %}
                                  {{ val|default:"N/A" }}
                                {% endfor %}
                            {% else %}
                                {{ value|default:"N/A" }}
                            {% endif %}
                        </div>
                        <span class="more">More...</span>
                        <span class="less" style="display:none;">Less...</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
