{% load url_tags %}

{% if enforcements|length == 0 %}
    <p class="">No results found for: {{ q|replace_plus_signs }}</p>
{% endif %}

{% for result in enforcements %}
    <h3><i></i>Recall Number: {{ result.recall_number }} [{{ result.report_date }}: {{ result.city }}, {{ result.state }}]</h3>
    <div id="{{ prefix }}_panel{{ forloop.counter }}">
        <table class="fda-table-default">
            <!--caption class="sr-only">Recall Number: {{ result.recall_number }} [{{ result.report_date }}: {{ result.city }}, {{ result.state }}]</caption-->
            <tbody>
            {% for key, value in result.items %}
                <tr>
                    <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                    <td class="cell">
                        <div class="text">
                            {% if value|is_list %}
                                {% for val in value %}
                                  {{ val|default:"N/A" }}
                                {% endfor %}
                            {% else %}
                                {{ value|default:"N/A" }}
                            {% endif %}
                        </div>
                        <span class="more" style="display:none;">More...</span>
                        <span class="less" style="display:none;">Less...</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
