{% load url_tags %}

{% for result in enforcements %}
    <h3><i></i>Recall:
        {{ result.recall_number }}
        (Recalled by: {{ result.recalling_firm|default:"N/A"}})
        [{{ result.report_date }}:
        {{ result.city }},
        {{ result.state }}] &mdash; {{ result.voluntary_mandated }}
    </h3>
    <div id="{{ prefix }}_panel{{ forloop.counter }}">
        <table class="fda-table-default">
            <!--caption class="sr-only">Recall ID: {{ result.recall_number }} [{{ result.report_date }}: {{ result.city }}, {{ result.state }}] &mdash; {{ result.voluntary_mandated }}</caption-->
            <tbody>
            {% for key, value in result.items %}
                <tr>
                    <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                    <td class="cell">
                        <div class="text">
                            {% if value|is_list %}
                                {% for val in value %}
                                  {{ val|default:"N/A" }}
                                {% endfor %}
                            {% else %}
                                {{ value|default:"N/A" }}
                            {% endif %}
                        </div>
                        <span class="more" style="display:none;">More...</span>
                        <span class="less" style="display:none;">Less...</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
