{% load url_tags %}

{% if events|length == 0 %}
    <p class="">No results found for: {{ q|replace_plus_signs }}</p>
{% endif %}

{% for result in events %}
    <h3><i></i>Safety Report ID: {{ result.safety_data.safety_report }}</h3>
    <div id="{{ prefix }}_panel{{ forloop.counter }}">
        <table class="fda-table-default">
            <caption>Reporting Sources</caption>
            <tbody>
               {% for key, value in result.safety_data.items %}
               {% if key != 'safety_report' %}
                <tr>
                <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                    <td>
                    {% if value|is_list %}
                        {% if key == 'seriousness_details' %}
                          {% for val in value %}
                            {{ val|default:"N/A"|format_yes }}<br />
                          {% endfor %}
                        {% else %}
                          {% for val in value %}
                            {{ val|default:"N/A" }}<br />
                          {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ value|default:"N/A" }}
                    {% endif %}
                    </td>
                </tr>
               {% endif %}
               {% endfor %}
            </tbody>
        </table>
        <table class="fda-table-default">
            <caption>
                Patient Data
            </caption>
            <tbody>
                {% for key, value in result.patient_data.items %}
                <tr>
                    <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                    <td>
                        {% if value|is_list %}
                            {% for val in value %}
                                {{ val|default:"N/A" }}<br />
                            {% endfor %}
                        {% else %}
                            {{ value|default:"N/A" }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="fda-table-default">
            <caption>
                Drug Data
            </caption>
            <tbody>
            {% for key, value in result.label_data.items %}
                <tr>
                    <th scope="row">{{ key|replace_underscores|capfirst }}</th>
                    <td>
                        {% if value|is_list %}
                            {% for val in value %}
                                {{ val|default:"N/A" }}<br />
                            {% endfor %}
                        {% else %}
                            {{ value|default:"N/A" }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}